<h3><i class="fas fa-quote-left"></i> Expresso</h3>
<div class="section">
    <p class="lead">Create what you're feeling right now.</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn #43455C darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>