<div class="container">
  <h1>Comment Reported Successfully</h1>
  <p>We're sorry, for the trouble. Thank you for reporting. We will look seriously on this.</p>
  <a href="/stories" class="btn">Go to Expresso</a>
</div>